
{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Welcome To TaskMate</title>
{% endblock title %}

 
{% block content %}
   <div class="container">
      <div class="row mt-3">
        <div class="col-lg-3">
          <img src={% static 'images/1.jpg' %} alt=" Notes"  class="rounded-right shadow-sm" width="100" height="100">
        </div>
        <div class="col-lg-3">
           <img src={% static 'images/2.jpg' %} alt=" Notes"  class="rounded-right shadow-sm" width="100" height="100">
        </div>
       <div class=   "col-lg-3">
           <img src={% static 'images/3.jpg' %} alt=" Notes"  class="rounded-right shadow-sm" width="100" height="100">
        </div>
       <div class="row mt-5">
         <div class="col-md-10 offset-md-5">
            <center><p class="h4">Quick and Easy To Use . Anything, Anywhere!</p></center>
            <center><p class="h3">Plan Your Day Better. Get Your Life Organized"</p></center>
            <center><p class="h4">TaskMate Let's You Keep Track Of Your Task In One Place.</p></center>
            <center><a href="{% url 'todolist' %}"<button type="button" class="btn btn-secondary btn-lg mt-3 rounded-right shadow-sm">Let's Get Started</button></a></center>
         </div>
       </div> 
       
      </div>
   </div>

{% endblock content %}

